.navbar{
	background-color: white;
	border-color: white;
	font-family: Verdana;
	padding-top: 1em;
	padding-right: 2em;
}
.navbar-header{
	padding-top: 4em;
	padding-left: 5em;

}

.worldly_center{
	font-family: Verdana;
	text-align: center;
	padding-top: 0.5em;
	font-size: 10em;
}

#img_world{
	width: 5em;
    height: 5em;
}