body{
	font-family: Verdana;
}

.navbar{
	background-color: white;
	border-color: white;
	padding-right: 2em;
}
.navbar-header{
	padding-top: 2em;
	padding-left: 2em;

}

.worldly_center{
	background-color: #33ace6;
	margin-top: 5em;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
}
.worldly_home{
	font-size: 10em;
}
.worldly_slogan{
	font-size: 2em;
	font-style: italic;
}

.img_world{
	width: 5em;
    height: 5em;
}